.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .header-home{
    cursor: pointer;
  }
  h1{
    margin-left: 3rem;
  }
  .header-button{
    margin-right: 1rem;
  }
}
