.todo-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  .todo-body{
    width: 50rem;
    display: flex;
    flex-direction: column;
    border:1px solid black;
    border-radius: 20px;
    margin-bottom: 2rem;
    img{
      width: 40rem;
      display: flex;
    }
    .todo-title {
      display: flex;
      flex-direction: row;
      h1{
        margin-right: 1rem;
      }
    }
    .todo-content{
      display: flex;
      flex-direction: row;
      h2{
        margin-right: 2rem;
      }
    }
    .todo-bt {
      display: flex;
      align-items: center;
      button {
        width: 100px;
        height: 50px;
      }
    }
  }
}
